@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: "Roboto", sans-serif;
  color: #020230;
  overflow-x: auto;
  background-color: #020230;
  background: linear-gradient(
    90deg,
    #020024 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: cover;
}

/*header section*/
.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#headerDiv {
  position: sticky;
  min-width: 240px;
}

.navBrand {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  margin: 10px 15px;
}

#responsive-navbar-nav {
  outline: none;
}

@media (min-width: 993px) {
  #responsive-navbar-nav {
    display: flex;
    justify-content: flex-end;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(2, 2, 48, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/*end header section*/

#loggedInNotice {
  color: white;
  margin: 10px 15px;
  display: flex;
  flex-shrink: none;
  min-width: 240px;
}

/*login section*/

.inputContainer {
  min-width: 240px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 10rem;
}

.loginHeader {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  margin: 10px 15px;
  display: flex;
  flex-wrap: none;
}

.loginForm {
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 15px;
  margin-top: 0px;
}

.login-button {
  font-family: inherit;
  background-color: #fcdf3e;
  border: none;
  margin-top: 10px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transform: perspective(1px) translateZ(0);
  padding: 0.25rem 0.5rem;
  color: #020024;
  border-radius: 2px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.login-button:hover {
  box-shadow:
    inset 0 0 0 2px #fcdf3e,
    0 0 1px rgba(0, 0, 0, 0);
  background-color: transparent;
  color: #fcdf3e;
}

#logoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 10rem;
}

#logout-button {
  font-family: inherit;
  background-color: #fcdf3e;
  border: none;
  margin-top: 10px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transform: perspective(1px) translateZ(0);
  padding: 0.25rem 0.5rem;
  color: #020024;
  border-radius: 2px;
  margin: 10px 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#logout-button:hover {
  box-shadow:
    inset 0 0 0 2px #fcdf3e,
    0 0 1px rgba(0, 0, 0, 0);
  background-color: transparent;
  color: #fcdf3e;
}

.load-more-button {
  font-family: inherit;
  background-color: #fcdf3e;
  border: none;
  margin-top: 10px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transform: perspective(1px) translateZ(0);
  padding: 0.25rem 0.5rem;
  color: #020024;
  border-radius: 2px;
  margin: 10px 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.load-more-button:hover {
  box-shadow:
    inset 0 0 0 2px #fcdf3e,
    0 0 1px rgba(0, 0, 0, 0);
  background-color: transparent;
  color: #fcdf3e;
}

/*end login section*/

/*favorites section*/

#pleaseLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  margin: 20px 15px;
}

#pleaseLoginNotice {
  color: #fcdf3e;
}

#noFavoritesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  margin: 20px 15px;
}

#noFavorites {
  color: #fcdf3e;
}

/*markets section*/
.MarketsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marketsTitle {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.TableContainer {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  max-width: 100%;
  margin: 0 auto;
}

#marketsHeader th:not(:last-child) {
  border-right: 1px solid #020230;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  backdrop-filter: blur(3px) saturate(131%);
  -webkit-backdrop-filter: blur(3px) saturate(131%);
  background-color: rgba(17, 25, 40, 0.59);
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: [object object]px;
  height: [object object]px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

th,
td {
  border: 1px solid #fcdf3e;
  padding: 0.3rem;
  text-align: left;
}

th {
  background-color: #fcdf3e;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

td {
  color: #f2f2f2;
  text-align: center;
}

#viewChartBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  transform-origin: center top;
}

#viewChartBtn:hover {
  color: #020230;
  transform: scale(1.2);
}

#favBtn {
  color: #fcdf3e;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 20%;
  right: 20%;
  background: rgb(228, 228, 228);
  padding: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#chartBtnContainer {
  display: flex;
  justify-content: right;
}

#chartBtn {
  color: black;
}
